/* Font */
@font-face {
    font-family: 'Trajan Pro';
    src: url('../fonts/Trajan\ Pro.ttf');
    font-family: 'Trajan Pro Bold';
    src: url('../fonts/TrajanPro-Bold.otf');
}

/* Sytle Dasar */
body {
    font-family:'Trajan Pro Bold', sans-serif, arial;
    background-color: #eaeaea;
    border: 1px yellowgreen solid;
    position: relative;
    z-index: 1;
}
p {
    animation: slide-in 0.8s;
    animation-delay: 0.5;
}

h1,h2, h3, a {
    animation: fade-in 0.5s;
}
.navbar {
    font-family: 'Trajan Pro Bold';
    display: flex;
    position: relative;
    width: 100%;
    height: max-content;
    background-color: #333;
    border-bottom: 2px solid yellowgreen;
}
/* Navigasi */
.navbar a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0px;
    padding: 20px;
}

.navbar img {
    width: auto;
    height: 40px;
    margin-top: 10px;
    position: absolute;
    right: 5%;
}

.navbar img:hover {
    animation: reveal 1s forwards;
}

.navbar a:hover {
    background-color: yellowgreen;
    color: #333;
    width: auto;
    height: auto;
    transition: 0.5s;
}

h1 {
    font-size: 24px;
    margin-top: 10px;
}
/* Halaman Utama */
.container {
    width: 85%;
    height: max-content;
    border: none;
    position: absolute;
    margin-left: 100px;
    background-color: #333;
    color: white;
}

.container header p {
    font-family: 'Trajan Pro Bold';
    text-align: center;
    margin: auto;  
    line-height: 0;
    padding: auto;

}
.container p {
    font-size: 12px;
    font-family: 'arial';
    text-align: justify;
    margin: 10px 10px;  
    line-height: 20px;
    padding: 10px;
}

.container h2 {
    margin: 10px 10px;
}
.container .utama {
    width: auto;
    height: 500px;
    background-image: url('/latihan/latihan5/Tugas5/img/full/utama.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px solid yellowgreen;
    border-top: 2px solid yellowgreen;
}

.container #About a .logo {
    background-image: url('/latihan/latihan5/Tugas5/img/full/Kopalan.png');
    width: 100px;
    height: 100px;
}

.gallery li {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    /* overflow: hidden; */
    border: 5px solid #666;
    float: left;
    margin-right: 10px;
    margin-left: 70px;
    position: relative;
}

.gallery li img {
    border-radius: 5px;
}

.gallery li span {
    display: block;
    width: 150px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.5);   
    border-radius: 5px;
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 150px;
    color: rgb(255, 255, 255);
    opacity: 0;
    transition: .3s;
    transform: scale(0);
}

.gallery li a:hover span {
    opacity: 1;
    transform: scale(1);
}

.clear {
    clear: both;
}

/* overlay */
.overlay {
    position: fixed;
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 2;
    transition: 0.5s;
    text-align: center;
    padding: 100px 0 0;
}

.overlay:target {
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.overlay img {
    max-height: 100%;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, .5);
}

.overlay:target img {
    animation: zoomDanFade 1s;
}

.overlay .close {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -20px;
    color: white;
    text-decoration: none;
    background-color: black;
    border: 1px solid white;
    line-height: 14px;
    padding: 5px;
    opacity: 0;
}

.overlay:target .close {
    animation: slidedownfade .5s .5s forwards;
}

.footer {
    height: 45px;
    margin: auto;
    background-color: #000000;
}

.footer p {
    text-align: center;
}
/* animasi */
@keyframes fade-in {
    /* Keadaan awal: elemen transparan dan berada di bawah */
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    /* Keadaan akhir: elemen terlihat dan berada di posisi normal */
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Membuat animasi bernama slide-in untuk elemen p */
  @keyframes slide-in {
    /* Keadaan awal: elemen transparan dan berada di kiri */
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    /* Keadaan akhir: elemen terlihat dan berada di posisi normal */
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

@keyframes zoomDanFade {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slidedownfade {
    0% {
        opacity: 0;
        margin-top: -20px;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes reveal {
    0% {
        clip-path: inset(0 100% 0 0); /* Mulai dari kanan */
    }
    100% {
        clip-path: inset(0 0 0 0); /* Penuh */
    }
}

@keyframes fill-up {
    /* Keadaan awal: elemen memiliki background transparan */
    0% {
      background: transparent;
    }
    /* Keadaan akhir: elemen memiliki background kuning */
    100% {
      background: yellowgreen;
    }
  }