  /* Reset some default styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../Latihan4/Image/moroccan-flower-dark.webp')
    text-align: justify;
  }
  .container {
    width: 800px;
    height: 100%;
    position: relative;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
  }
  p {
    margin-left: 10px;
    margin-right: 10px;
    word-spacing: normal;
    line-height: 0.7cm;
  }
  .judul {
    background-color: white;
    width: 100%;
    position: relative;
    height: 90px;
    margin-top: -22px;
  }
  .judul h1 {
    margin-bottom: -10px;
    margin-left: 10px;
  }
  .judul h1:hover {
   color: salmon;
  }
  .judul p a {
    color: salmon;
    text-decoration: underline;
  }
  .judul p a:hover {
    color: rgb(255, 255, 255);
    background-color: salmon;
    text-decoration: underline;
  }
  .artikel {
    background-color: white;
    width: 100%;
    height: auto;
    margin-top: -16px;
  }
  .sampah {
    background-image: url('../Latihan4/Image/Satelit.png');
    width: auto;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
  }
footer{
    background-color: #333;
    padding: 10px;
    margin-top: -15px;
}

footer .copy {
    color: #eaeaea;
    text-align: center;
    font-size: 12px;
}

  /* Add a black background color to the top navigation */
  .topnav {
    background-color: #000000;
    width: 800px;
    margin-top: 0px;
    overflow: hidden;
    border-bottom: 5px groove salmon;
    position: relative;
    font-family: 'hacked';
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: salmon;
    color: rgb(255, 255, 255);
  }
  
  /* Add a color to the active/current link */
  