body {
    background-color: rgb(171, 171, 171);
}
.Menu {
    background-image: url('123.webp');
    height: 70px;
    width: auto;
    background-size: cover;
    text-align: center;
}

a{
    color: red;
}